.header-dropdown {
    border-style: hidden;
    margin-right: 10px;
}

.macro-current {

}

.macro-select {
    margin-left: 10px;
    margin-right: 10px;
}

.macro-edit {
    visibility: visible;
}

.macro-edit:hover {
    visibility: visible;
    background-color: #cdcbcb;
}

.macro-add {

}
