.header-dropdown {
    border-style: hidden;
    margin-right: 10px;
}

.macro-current {

}

.macro-select {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    padding: 1px 1px 1px 1px;
    width: auto;
    min-width: 50%;
    max-width: 60%;
}

.macro-edit {
    visibility: visible;
}

.macro-edit:hover {
    visibility: visible;
    background-color: #cdcbcb;
}

.macro-add {

}
