.header-dropdown {
    border-style: hidden;
    margin-right: 10px;
}

.macro-current {

}

.macro-current:hover {
    background-color: #888888;
}

.macro-select {
    margin-left: 10px;
    margin-right: 10px;
}

.macro-remove {
    visibility: hidden;
}

a:hover + .macro-remove, .macro-remove:hover {
    visibility: visible;
}

.macro-add {

}
